@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);


#firstSection{
  /*width: 100%;
  height: 100%;*/
  margin: 0;
  padding: 0;
  border: 0;
}

/*.chatbox .hidechat{
  opacity: 0;
  display: none;
  background: red;
}

.chatbox{
  position: absolute;
  width: 400px;
  height: 35vh;
  background-color: #fff;
  bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  left: 50%;
  transform: translateX(-50%);
}*/

/*comment - greeting text*/
.greetingContent{
  position: absolute;
  /*left: 50%;*/
  top: 15vh;
  width: 100%;
  height: 15vh;
}

.greetingText{
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin: auto;
  text-align: center;
  color: #fff;
  /*font-size: 2.5em;*/
  font-size: 1.8vw;
}

.greetingText p{
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 4s steps(60, end);

}

.greetingText p:nth-child(2){
  animation: type2 8s steps(60, end);
}


.greetingText span{
  animation: blink 1s infinite;
}

@keyframes blink{
  to{opacity: .0;}
}
/*.greetingText p:nth-child(3){
  animation: type3 16s steps(60, end);
}*/

@keyframes type{
  from { width: 0; }
}
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 50; }

}

/*comment - chat box*/

.chatbox.hideAll{
  opacity: 0;
}

.chatbox.hidechat{
  position: absolute;
  width: 400px;
  height: 35vh;
  background-color: #fff;
  bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /*left: 50%;*/
  /*margin: 0 auto;*/

  /*opacity: 1;*/
  visibility: visible;
  z-index: 1;
  transform: translateX(-50%);
}

.chatbox{
  /*display: none;*/
  position: absolute;
  width: 400px;
  height: 0vh;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /*opacity: 0;*/
  visibility: hidden;
  background: red;
  transition: height 0.5s linear;
}

.chatbox .chatbar{
  position: absolute;
  width: 100%;
  height: 3vh;
  background-color: #73ddf5;
  bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  visibility: visible;
}






.chatbox.hidechat .chatbar{
  /*position: relative;*/
  width: 100%;
  height: 5vh;
  background-color: #73ddf5;
  top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.iconControls{
  position: absolute;
  right: 5px;
  top: 0;
  color: #fff;
  letter-spacing: 1px;
}

.iconControls i:hover{
  cursor: pointer;
}

.iconControls #minimizeIcon{
  font-size: 12px;
}

/*comment - messages*/
#messagesArea{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 25vh;
  margin: 5vh 0 0 0;
  padding: 0;
  list-style-type: none;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 1em;
  overflow-y: scroll;
}

#messagesArea li{

  /*background-color: rgb(42, 158, 162);*/
  text-align: right;
}


#messagesArea li:nth-child(odd){
  /*background-color: rgb(42, 158, 162);*/
  text-align: left;
}

#messagesArea li p{
  display:inline-block;
  padding: 1px 5px 3px 5px;
  border-radius: 10px;
  /*margin-right: 7px;
  margin-left: 60px;*/
  margin: 10px 7px 10px 60px;
  border: 1.5px solid #000;
}

#messagesArea li:nth-child(odd) p{
  /*background-color: rgb(42, 158, 162);
  text-align: right;*/
  margin-left: 5px;
  margin-right: 50px;
  /*border: 1px solid #fff;*/
}

/*#messagesArea li:nth-child(even) p{
  margin-left: 5px;
  border: 1px solid #fff;
}*/


/*comment - three dot loading animation*/
.spinner {
  position: absolute;
  left: 5px;
  bottom: 5vh;
  margin: 10px auto;
  width: 70px;
  text-align: center;
  border: 1.5px solid #000;
  border-radius: 10px;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


.chatbox .chatinput{
  opacity: 0;
}

.chatbox.hidechat .chatinput{
  opacity: 1;
}

.chatinput{
  position: absolute;
  width: 100%;
  height: 5vh;
  bottom: 0;
}

.chatinput input{
  padding-left: 3px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 15px;
}

.messageBox{
  width: 85%;
  height: 100%;
}

.sendMsgButton{
  position: absolute;
  width: 15%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.sendMsgButton:hover{
  /*color: #73ddf5;*/
  background-color: #73ddf5;
  border: none;
}

.sendMsgButton:hover i{
  color: #fff;
}
/*end of chatbox*/

/*comment - chatbox backup info*/
/*.chatBackup.hideAll{
  opacity: 0;
}*/

.chatBackup{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 400px;
  height: 32vh;
  bottom: 3vh;
  border-radius: 3px;
  left: 50%;
  /*display: none;*/
  opacity: 0;
  transform: translateX(-50%);
}

.chatBackInfo{
  font-family: 'Lato', Calibri, Arial, sans-serif;
  margin: 0 auto;
  width: 80%;
  height: 30%;
  color: #fff;
  text-align: center;
}
